@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sixtyfour&display=swap');

body {
    background-color: pink;
}

img {
    border-radius: 5px;
    height: 400px;
}

h1 {
    text-align: center;
    color: antiquewhite;
    font-family: cursive;
    background-color: rgb(213, 138, 150);
    border-radius: 10px;
    border: 2px solid rgb(185, 66, 86);
    padding: 20px;
}

h2 {
    color: antiquewhite;
    font-family: fantasy;
}

h3 {
    color: antiquewhite;
    font-style: italic;
}

.navbar ul {
    background-color: rgb(213, 138, 150);
    padding: 10px;
}

.navbar a {
    background-color:rgb(185, 66, 86);
    border-radius: 3px;
    padding: 2px;
    color: antiquewhite;
    text-decoration: none;
}

.navbar li {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar a:hover {
    background-color: rgb(179, 35, 83);
}


.main {
    display: flex;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.card-one {
    background-color: rgb(227, 129, 161);
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(205, 81, 81);
    margin: 10px;
    padding-left: 3px;
}

.card-two {
    background-color: rgb(227, 129, 161);
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(205, 81, 81);
    margin: 10px;
    padding-left: 3px;
}

.card-one {
    font-style: italic;
    color: antiquewhite;
}

.card-two p {
    font-style: italic;
    color: antiquewhite;
}

.picture {
    display: flex;
    justify-content: flex-start;
}

.picturetwo {
    display: flex;
    justify-content: end;
}

.picture p {
    margin: 20px;
}

.picturetwo p {
    display: flex;
    justify-content: flex-start;
}

