@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sixtyfour&display=swap');

body {
    background-color: pink;
}

img {
    border-radius: 5px;
    height: 400px;
}

h1 {
    text-align: center;
    color: antiquewhite;
    font-family: cursive;
    background-color: rgb(213, 138, 150);
    border-radius: 10px;
    border: 2px solid rgb(185, 66, 86);
    padding: 20px;
}

h2 {
    color: antiquewhite;
    font-family: bold;
}

h3 {
    color: antiquewhite;
    font-style: italic;
    font-size: 30px;
}

ol {
    font-style: italic;
    color: antiquewhite;
    font-size: larger;
}

.navbar ul {
    background-color: rgb(213, 138, 150);
    padding: 10px;
}

.navbar a {
    background-color:rgb(185, 66, 86);
    border-radius: 3px;
    padding: 2px;
    color: antiquewhite;
    text-decoration: none;
}

.navbar li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
}

.navbar a:hover {
    background-color: rgb(155, 33, 73);
    transition: all 0.7s ease;
}


.main {
    display: flex;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.card-one {
    background-color: rgb(227, 129, 161);
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(205, 81, 81);
    margin: 10px;
    padding-left: 3px;
    height: 300px;
}



.card-two {
    background-color: rgb(227, 129, 161);
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(205, 81, 81);
    margin: 10px;
    padding-left: 3px;
    height: 300px;
}

.card-two img {
    position: fixed;
    bottom: 48px;
    right: 300px;
    height: 300px;
}

.card-one {
    font-style: italic;
    color: antiquewhite;
    font-size: 20px;
}

.card-one img {
    position: fixed;
    top: 147px;
    right: 300px;
    height: 300px; 
}

.picture {
    display: flex;
    justify-content: flex-start;
}

.picturetwo {
    display: flex;
    justify-content: end;
}

.picture p {
    font-size: 20px;
    margin: 20px;
    font-style: italic;
    background-color: rgb(227, 129, 161);
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(205, 81, 81);
    margin: 10px;
    padding: 3px;
    height: 20px;
}

.picture p {
    font-size: 23px;
    color:antiquewhite;
}

.picturetwo p {
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    font-style: italic;
    background-color: rgb(227, 129, 161);
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(205, 81, 81);
    margin: 10px;
    padding: 3px;
    height: 20px;
}

.picturetwo p {
    font-size: 23px;
    color: antiquewhite;
}

