body {
    background-color: pink;
}

h1 {
    text-align: center;
    color: antiquewhite;
    font-style: italic;
    background-color: rgb(213, 138, 150);
    border-radius: 10px;
    border: 2px solid rgb(185, 66, 86);
    padding: 20px;
}

.navbar ul {
    background-color: rgb(213, 138, 150);
    padding: 10px;
}

.navbar a {
    background-color:rgb(185, 66, 86);
    border-radius: 3px;
    padding: 2px;
    color: antiquewhite;
    text-decoration: none;
}

.navbar li {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar a:hover {
    background-color: rgb(179, 35, 83);
}


.main {
    display: flex;
}


